.card-photo-data {
    width: 1000px; /* Adjust the max-width for better control */
    border: 20px solid #4f4f60;
    background-color: #4f4f60;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-weight: none;
    padding: 10px;
    box-sizing: border-box;
}



.card-photo-data img {
    width:  100vh; /* Ensure the image is responsive */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensure the image is not distorted */
    border-radius: 10px;
}

.photo-descript-card{
    margin-top: 20px;
}

.card-photo-data:hover {
    border: 20px solid #373745;
    background-color: #373745;
}

@media (max-width: 500px) {
    .card-photo-data img {
        max-width: 100%; /* Make the image fill its container on small screens */
    }

    .card-photo-data {
        max-width: 300px; /* Reduce max-width for small screens */
        font-size: 8pt;
    }
}