.card-movie {
  max-width: 230px;
  border: 20px solid #4f4f60;
  background-color: #4f4f60;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bolder;
}



.card-movie img {
  max-width: 181px;
  object-fit: contain;
}

@media (max-width: 500px) {
  .card-movie img {
    max-width: 118px;
  }

  .card-movie {
    max-width: 118px;
    font-size: 8pt;
  }
}

.card-movie:hover {
  border: 20px solid #373745;
  background-color: #373745;
}